# Session
session

# Json
package-lock.json

# Dependency directories
node_modules/

# TypeScript cache
*.tsbuildinfo

# Optional npm cache directory
.npm

# dotenv environment variables file
.env

# Next.js build output
.next

# Nuxt.js build / generate output
.nuxt
dist